py
colorama
lxml
beautifulsoup4
soupsieve
cffi
PyQt5
future
Pillow
ipython
olefile
pip
attrs
wheel
Jinja2
parso
jedi
XlsxWriter
pytz
MarkupSafe
Werkzeug
click
itsdangerous
pytest
numpy
setuptools
networkx
jsonpickle
scipy
matplotlib
igraph
texttable
pandas
python-dateutil
xlrd
PyPDF2
wcwidth
pluggy
iniconfig
argcomplete
chardet
pdfrw
pdf2image
fillpdf
Pygments
traitlets
decorator
packaging
backcall
pickleshare
tzlocal
altgraph
six
docx2txt
cairocffi
fonttools
pyparsing
pycparser
IMAPClient
cycler
kiwisolver
pefile
ebcdic
pyinstaller
zipp
textract
pyvis